.backlog-titles {
    display: flex;
    justify-content: space-between;
    width: 100vh -156px;

}

h3 {
    color: rgb(19, 39, 138);
}

.padding-right-zero {
    padding-right: 0 !important;
}

.text-align-end {
    text-align: end;
}

.backlog-content {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    justify-content: space-between;
    align-items: center;
    height: auto;
}

.assignedToDetails {
    width: 27vw;
}

.backlog-content-container-flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(241, 240, 251);
}
