/* .board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    box-sizing: border-box;
    overflow: auto;
} */

.board-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: rgb(241, 240, 251);
    border-radius: 15px;
    flex-shrink: 0;
    width: 450px;
    max-height: 95%;
    overflow: auto;
}

.board-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.board-element {
    text-align: center;
    background-color: white;
    width: 80%;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
}

.board-category-first {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F1F0FB;
    padding: 5px;
    border-radius: 15px;
}

.board-category-end {
    display: block;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.board-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 3px solid black;
    margin-left: 10px;
    padding: 5px;
}

.board-actions img {
    width: 25px;
}

.board-actions:hover {
    cursor: pointer;
    background-color: #F1F0FB;
}

.board-content {
    display: flex;
    height: 100%;
   justify-content: center;
   overflow: auto;
}

/* RESPONSIVE */