

.GITBox {
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    height: 20vh;
    width: 50vw;

}

.GITBoxSmall {
    display: flex;
    justify-content: center;
    align-items: center;
}

.GITBoxSmall h3 {
    color: black;
}

.welcome-content-box {
    text-align: center;
}

.content-box-welcome {
    height: 100vh;
    justify-content: space-between;
}

.welcome-img {
    width: 5%;
}