* {
    font-family: 'PT Sans', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    margin: unset;
    background-color: white;
}

.content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-picture {
    width: 50px;
    border-radius: 20%;
}

.profil p {
    margin: unset;
}

.dp-none {
    display: none !important;
}

.headline {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 20%;
    color: white;
    background-color: #1E3190;
    border-radius: 15px;
}

.headline h2 {
    margin: 15px;
    font-size: 2em;
    color: white;
}