* {
    font-family: 'PT Sans', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    margin: unset;
    background-color: white;
}

.content-box {
    padding-top: 56px;
    padding-left: 156px;
    padding-right: 156px;
}

.profile-picture {
    width: 50px;
    border-radius: 20%;
}

.profil p {
    margin: unset;
}